@font-face {
    font-family: LCD;
    src: url('/fonts/EHSMB.TTF');
}

.App {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 600px;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}

.display {
    width: 80px;
    position: absolute;
    top: 20px;
    left: calc(1024px - 55px);
    transform: skew(-5deg);
}

.nameDisplay {
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 84px;
    width: 150px;
    left: calc(1024px - 310px);
    font-size: 24px;
    text-align: right;
    background-color: #111111;
    padding: 10px;
    font-family: LCD;
    color: #ff3300;
    -webkit-font-smoothing: none;
}

.blink{
    animation: blinker 0.5s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.mode-display {
    width: 80px;
    position: fixed;
    top: 20px;
    right: 130px;
    transform: skew(-5deg);
}

.numericKeys {
    position: absolute;
    top: 76px;
    left: calc(1024px - 125px);
    width: 150px;
    height: 500px;
    overflow: hidden;
}

.alphaKeys {
    position: absolute;
    top: 224px;
    left: 20px;
    width: 850px;
    height: 350px;
    overflow: hidden;
}

.numericKeys button, .alphaKeys button {
    background-color: #666666;
    appearance: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
    box-shadow: inset -2px -2px #ad8f8f54, 1px 1px 0 #b2b2b2a8;
    height: 60px;
    box-sizing: border-box;
    width: 60px;
    vertical-align: middle;
    margin: 7px;
}

.alphaKeys button {
    background-color: #444444;
}
