@font-face {
    font-family: LCD;
    src: url('/fonts/EHSMB.TTF');
}

.App {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.display {
    width: 80px;
    position: absolute;
    top: 18px;
    right: 27px;
    transform: skew(-5deg);
}

.nameDisplay {
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 55px;
    width: calc(100vw - 250px);
    left: 10px;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    font-family: LCD;
    color: #ff3300;
    -webkit-font-smoothing: none;
}

.blink{
    animation: blinker 0.5s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.mode-display {
    width: 80px;
    position: fixed;
    top: 20px;
    right: 130px;
    transform: skew(-5deg);
}

.numericKeys {
    position: absolute;
    top: 76px;
    right: 20px;
    width: 150px;
    height: 500px;
    overflow: hidden;
}

.alphaKeys {
    position: absolute;
    top: 224px;
    left: 20px;
    width: 850px;
    height: 350px;
    overflow: hidden;
}

.numericKeys button, .alphaKeys button {
    background-color: #666666;
    appearance: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
    box-shadow: inset -2px -2px #ad8f8f54, 1px 1px 0 #b2b2b2a8;
    height: 60px;
    box-sizing: border-box;
    width: 60px;
    vertical-align: middle;
    margin: 7px;
}

.alphaKeys button {
    background-color: #444444;
}

@media only screen and (max-height: 480px) and (min-width: 1280px) {
    .numericKeys {
        width: 280px;
        top: 100px;
    }

    .numericKeys button {
        width: 78px;
        height: 78px;
        font-size: 24px;
    }

    .display {
        width: 120px;
    }

    .alphaKeys {
        width: 1600px;
        top: 284px;
        left: 18px;
    }

    .alphaKeys button {
        width: 78px;
        height: 78px;
        font-size: 24px;
    }

    .algorithms {
        width: 600px;
    }

    :root {
        --range-width: 220px;
    }

    .vertical-slider-with-label {
        width: 100px;
    }

    .vertical-slider-with-label .label {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .button-container .label {
        font-size: 18px;
        line-height: 20px;
    }
    .button-container button {
        width: 90px;
        height: 30px;
    }
    .mode-subgroup {
        margin-right: 0px;
    }
    .button-column {
        width: 140px;
    }
    .nameDisplay {
        font-size: 48px;
        text-align: right;
        width: 300px;
        right: 150px;
        left: auto;
        top: 12px;
    }
    h2.param-group-label {
        font-size: 24px;
        margin-top: 0px;
    }
    h3.label {
        font-size: 24px;
        padding-bottom: 24px;
    }
    .param-group br {
        display: none;
    }
    .app-settings label {
        font-size: 24px;
    }
    .app-settings select {
        font-size: 24px;
    }
    button.box-button {
        margin-top: 20px;
        width: 78px;
        height: 78px;
        font-size: 24px;
    }
}
